@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue:hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --font: 'Red Hat Display', sans-serif;
}
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body {
  background:var(--pale-blue);
  font-size:16px;
  font-family:var(--font);
  position:relative;
}
.container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.bg__desktop-pattern {
  position: absolute;
  top:0;
  width:100vw;
}
main {
  border-radius:10px;
  overflow:hidden;
  background:var(--very-pale-blue);
  text-align: center;
  z-index:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:28%;
}
.contents {
  background:#ffff;
  padding:3em;
}
.title {
  color:var(--dark-blue);
  font-weight:900;
}
.paragraph {
  color:var(--desaturated-blue);
  font-weight:500;
  margin-top:1em;
}
.subscribe {
  display:flex;
  align-items: center;
  justify-content:space-between;
  width:100%;
  background: var(--very-pale-blue);
  padding: 4%;
  border-radius:5px;
  margin-top:10%;
}
.annual-plan {
  display:flex;
  align-items: center;
  gap:20px;
}
.amount {
  text-align: left;
  font-size:14px;
}
.amount h2 {
  color: var(--dark-blue);
  font-weight:900;
}
.amount h3 {
  color: var(--desaturated-blue);
  font-weight:500;
}                               
.change {
  background:none;
  border:none;
  text-decoration: underline;
  color:var(--bright-blue);
  font-weight:700;
  cursor:pointer;
}
.btns {
  display:flex;
  flex-direction: column;
  gap:10px; 
  margin-top:10%;
}

.payment {
  padding:15px;
  border-radius:8px;
  background:var(--bright-blue);
  color:#ffff;
  font-weight:700;
  border:none;
  box-shadow:10px 5px 10px 0 rgba(185, 184, 184, 0.479);
  font-size:16px;
}
.cancel {
  font-weight:700;
  background:none;
  border:none;
  color:var(--desaturated-blue);
  font-size:16px;
}

@media screen and (max-width:600px) {
  #root {
    overflow:hidden;
  }
  main {
    width:auto;
    margin:10% 5% 10% 5%;
    overflow:hidden;
  }
  .bg__desktop-pattern {
    display:none;
  }
  .container {
    height:auto;
    overflow:hidden;
  }
  .title {
    font-size:24px;
    margin-top:5%;
  }
  .amount {
    font-size:12px;
  }
  .contents {
    padding:1em;
  }
  .btns {
    margin-bottom:10%;
  }
}